body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $main_background_color;
  }

  .app-container {
      width: 100vw;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
  }